
<div >
  <nav class="bg-white dark:bg-sky-500  shadow ">
      <div class="max-w-7xl mx-auto px-8">
          <div class="flex items-center h-16">
              <div class="w-full justify-between flex items-center">
                  <a class="flex-shrink-0" href="/">
                      <img class="h-8 w-8" src="../assets/icons/rocket.svg" alt="Workflow"/>
                  </a>
                  <h2 class="text-white">Rocket Todo App</h2>
              </div>
          </div>
      </div>
  </nav>
</div>
<app-content></app-content>
